<div class="home-h2">
    <h2 class="display-6">Companies</h3>
        <p>Records the details of companies.</p>

        <h2 class="display-6">Locations</h3>
            <p>Records the details of locations.</p>

            <h2 class="display-6">Companies_Locations</h3>
                <p>Intersection table representing the M:M relationship between the Companies table and Locations table.
                </p>

                <h2 class="display-6">Postings</h3>
                    <p>Records the details of job postings.</p>

                    <h2 class="display-6">Statuses</h3>
                        <p>Category table of statuses for the Applications table.</p>

                        <h2 class="display-6">Applications</h3>
                            <p>Transaction table for recording the details of job applications.</p>
</div>